.login-button {
  position: relative;
  background: none;
  color: $clr-white;
  border: none;
  text-transform: uppercase;
  font-family: $font-main;
  letter-spacing: 0.1em;
  height: 20px;
  width: 75px;
  margin: 5px;
  &:focus {
    outline: 0;
  }
  &:hover {
    cursor: pointer;
    &::before {
      transform-origin: center left;
      transform: scaleX(1);
    }
    &::after {
      transform-origin: center right;
      transform: scaleX(1);
    }
  }
  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    background-color: $clr-accent1;
    transform: scaleX(0);
    transition: transform 0.5s ease;
  }
  &::before {
    top: 0;
    transform-origin: center right;
  }
  &::after {
    bottom: 0;
    transform-origin: center left;
  }
}

.cancel-button {
  color: $clr-accent1;
  background: none;
  border: none;
  &:focus {
    outline: 0;
  }
  &:hover {
    cursor: pointer;
  }
}
