$clr-black: black;
$clr-white: white;
$clr-red: red;

$clr-bg: #090821;
$clr-bg-faded: hsl(246, 41%, 18%);
$clr-input-placeholder: hsla(0, 0%, 100%, 0.6);
$clr-fav: #fc2f70;

$clr-accent1: cyan;
$clr-thingy: complement($clr-accent1);
$clr-accent2: #fc2f70;
$clr-accent3: #D2691E;

$clr-borders: $clr-black;

$font-main: "PT Sans", sans-serif;