.map {
  width: 100vw;
  height: 100vh;
  background: $clr-bg;
  display: flex;
  align-items: center;
}

.map-container {
  height: 100%;
  width: 80%;
  @include flex-center();
}

.g--counties {
  fill: $clr-white;
  & :hover {
    fill: $clr-red;
  }
}

.path__borders--county {
  @include borders(0.5px);
}

.path__borders--state,
.path__borders--nation {
  @include borders(1px);
}
