.nav {
  background-color: $clr-bg;
  z-index: 2;
  height: 50px;
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  box-shadow: 0 1px 10px rgba(255, 255, 255, 0.3);
}

.user-name {
  text-align: right;
  padding-right: 10px;
  letter-spacing: 0.3em;
  color: $clr-fav;
  text-transform: uppercase;
  border-right: 1.5px solid $clr-accent1;
  font-weight: 600;
}

.cancel-button {
  color: $clr-fav;
  background: none;
  border: none;
  opacity: 0.8;
  &:focus {
    outline: 0;
  }
  &:hover {
    cursor: pointer;
    opacity: 1;
  }
}

.forgot-password-btn {
  background: none;
  border: none;
  color: $clr-fav;
  font-family: $font-main;
  font-size: 14px;
  position: absolute;
  top: 15px;
  right: -50px;
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }
}

.new-email {
  position: absolute;
  top: 7.5px;
  right: 80px;
}

.temp-pass {
  position: absolute;
  top: 45px;
  right: 0px;
}

.new-pass {
  position: absolute;
  top: 98px;
  right: 10px;
}